teste/node_modules
teste/node_modules/@babel/compat-data/corejs3-shipped-proposals.js
teste/node_modules/@babel/compat-data/LICENSE
teste/node_modules/@babel/compat-data/README.md
teste/node_modules/@babel/compat-data/data/corejs2-built-ins.json
teste/node_modules/@babel/compat-data/data/corejs3-shipped-proposals.json
teste/node_modules/@babel/compat-data/data/native-modules.json
teste/node_modules/@babel/compat-data/data/overlapping-plugins.json
teste/node_modules/@babel/compat-data/data/plugin-bugfixes.json
teste/node_modules/@babel/compat-data/data/plugins.json
teste/node_modules/@babel/core/LICENSE
teste/node_modules/@babel/core/README.md
teste/node_modules/@babel/core/lib/config/caching.js
teste/node_modules/@babel/core/lib/config/config-chain.js
teste/node_modules/@babel/core/lib/config/config-descriptors.js
teste/node_modules/@babel/core/lib/config/files/configuration.js
teste/node_modules/@babel/core/lib/config/files/import-meta-resolve.js
teste/node_modules/@babel/core/lib/config/files/import.js
teste/node_modules/@babel/core/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/core/node_modules/semver/LICENSE
teste/node_modules/@babel/core/node_modules/semver/package.json
teste/node_modules/@babel/core/node_modules/semver/range.bnf
teste/node_modules/@babel/core/node_modules/semver/README.md
teste/node_modules/@babel/core/node_modules/semver/semver.js
teste/node_modules/@babel/core/node_modules/semver/bin/semver.js
teste/node_modules/@babel/eslint-parser/LICENSE
teste/node_modules/@babel/eslint-parser/README.md
teste/node_modules/@babel/eslint-parser/lib/analyze-scope.cjs
teste/node_modules/@babel/eslint-parser/lib/client.cjs
teste/node_modules/@babel/eslint-parser/lib/configuration.cjs
teste/node_modules/@babel/eslint-parser/lib/experimental-worker.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertAST.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertComments.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertTokens.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/index.cjs
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/LICENSE
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/definition.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/index.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/pattern-visitor.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/reference.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/referencer.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/scope-manager.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/scope.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/variable.js
teste/node_modules/@babel/eslint-parser/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/eslint-parser/node_modules/semver/LICENSE
teste/node_modules/@babel/eslint-parser/node_modules/semver/package.json
teste/node_modules/@babel/eslint-parser/node_modules/semver/range.bnf
teste/node_modules/@babel/eslint-parser/node_modules/semver/README.md
teste/node_modules/@babel/eslint-parser/node_modules/semver/semver.js
teste/node_modules/@babel/eslint-parser/node_modules/semver/bin/semver.js
teste/node_modules/@babel/generator/LICENSE
teste/node_modules/@babel/generator/README.md
teste/node_modules/@babel/generator/lib/buffer.js
teste/node_modules/@babel/generator/lib/generators/base.js
teste/node_modules/@babel/generator/lib/generators/classes.js
teste/node_modules/@babel/generator/lib/generators/expressions.js
teste/node_modules/@babel/generator/lib/generators/flow.js
teste/node_modules/@babel/generator/lib/generators/index.js
teste/node_modules/@babel/generator/lib/generators/jsx.js
teste/node_modules/@babel/generator/lib/generators/methods.js
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/LICENSE
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/package.json
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/range.bnf
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/README.md
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/semver.js
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/bin/semver.js
teste/node_modules/@babel/helper-define-polyfill-provider/LICENSE
teste/node_modules/@babel/helper-define-polyfill-provider/README.md
teste/node_modules/@babel/helper-define-polyfill-provider/esm/index.browser.mjs
teste/node_modules/@babel/helper-define-polyfill-provider/esm/index.node.mjs
teste/node_modules/@babel/helper-define-polyfill-provider/lib/browser/dependencies.js
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/LICENSE
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/package.json
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/range.bnf
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/README.md
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/semver.js
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/bin/semver.js
teste/node_modules/@babel/helper-validator-option/LICENSE
teste/node_modules/@babel/helper-validator-option/README.md
teste/node_modules/@babel/helper-validator-option/lib/find-suggestion.js
teste/node_modules/@babel/helper-validator-option/lib/index.js
teste/node_modules/@babel/compat-data/corejs2-built-ins.js
teste/node_modules/@babel/compat-data/corejs3-shipped-proposals.js
teste/node_modules/@babel/compat-data/LICENSE
teste/node_modules/@babel/compat-data/README.md
teste/node_modules/@babel/compat-data/data/corejs2-built-ins.json
teste/node_modules/@babel/compat-data/data/corejs3-shipped-proposals.json
teste/node_modules/@babel/compat-data/data/native-modules.json
teste/node_modules/@babel/compat-data/data/overlapping-plugins.json
teste/node_modules/@babel/compat-data/data/plugin-bugfixes.json
teste/node_modules/@babel/compat-data/data/plugins.json
teste/node_modules/@babel/core/LICENSE
teste/node_modules/@babel/core/README.md
teste/node_modules/@babel/core/lib/config/caching.js
teste/node_modules/@babel/core/lib/config/config-chain.js
teste/node_modules/@babel/core/lib/config/config-descriptors.js
teste/node_modules/@babel/core/lib/config/files/configuration.js
teste/node_modules/@babel/core/lib/config/files/import-meta-resolve.js
teste/node_modules/@babel/core/lib/config/files/import.js
teste/node_modules/@babel/core/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/core/node_modules/semver/LICENSE
teste/node_modules/@babel/core/node_modules/semver/package.json
teste/node_modules/@babel/core/node_modules/semver/range.bnf
teste/node_modules/@babel/core/node_modules/semver/README.md
teste/node_modules/@babel/core/node_modules/semver/semver.js
teste/node_modules/@babel/core/node_modules/semver/bin/semver.js
teste/node_modules/@babel/eslint-parser/LICENSE
teste/node_modules/@babel/eslint-parser/README.md
teste/node_modules/@babel/eslint-parser/lib/analyze-scope.cjs
teste/node_modules/@babel/eslint-parser/lib/client.cjs
teste/node_modules/@babel/eslint-parser/lib/configuration.cjs
teste/node_modules/@babel/eslint-parser/lib/experimental-worker.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertAST.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertComments.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/convertTokens.cjs
teste/node_modules/@babel/eslint-parser/lib/convert/index.cjs
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/LICENSE
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/definition.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/index.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/pattern-visitor.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/reference.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/referencer.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/scope-manager.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/scope.js
teste/node_modules/@babel/eslint-parser/node_modules/eslint-scope/lib/variable.js
teste/node_modules/@babel/eslint-parser/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/eslint-parser/node_modules/semver/LICENSE
teste/node_modules/@babel/eslint-parser/node_modules/semver/package.json
teste/node_modules/@babel/eslint-parser/node_modules/semver/range.bnf
teste/node_modules/@babel/eslint-parser/node_modules/semver/README.md
teste/node_modules/@babel/eslint-parser/node_modules/semver/semver.js
teste/node_modules/@babel/eslint-parser/node_modules/semver/bin/semver.js
teste/node_modules/@babel/generator/LICENSE
teste/node_modules/@babel/generator/README.md
teste/node_modules/@babel/generator/lib/buffer.js
teste/node_modules/@babel/generator/lib/generators/base.js
teste/node_modules/@babel/generator/lib/generators/classes.js
teste/node_modules/@babel/generator/lib/generators/expressions.js
teste/node_modules/@babel/generator/lib/generators/flow.js
teste/node_modules/@babel/generator/lib/generators/index.js
teste/node_modules/@babel/generator/lib/generators/jsx.js
teste/node_modules/@babel/generator/lib/generators/methods.js
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/LICENSE
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/package.json
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/range.bnf
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/README.md
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/semver.js
teste/node_modules/@babel/helper-compilation-targets/node_modules/semver/bin/semver.js
teste/node_modules/@babel/helper-define-polyfill-provider/LICENSE
teste/node_modules/@babel/helper-define-polyfill-provider/README.md
teste/node_modules/@babel/helper-define-polyfill-provider/esm/index.browser.mjs
teste/node_modules/@babel/helper-define-polyfill-provider/esm/index.node.mjs
teste/node_modules/@babel/helper-define-polyfill-provider/lib/browser/dependencies.js
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/CHANGELOG.md
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/LICENSE
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/package.json
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/range.bnf
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/README.md
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/semver.js
teste/node_modules/@babel/helper-define-polyfill-provider/node_modules/semver/bin/semver.js
teste/node_modules/@babel/helper-validator-option/LICENSE
teste/node_modules/@babel/helper-validator-option/README.md
teste/node_modules/@babel/helper-validator-option/lib/find-suggestion.js
teste/node_modules/@babel/helper-validator-option/lib/index.js
